@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 90 13% 95%; /* #F2F4EF */
    --foreground: 224 71.4% 4.1%;
    --card: 90 13% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 90 13% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 81 56% 38%; /* #79A70A */
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 71 35% 51%; /* #A1B053 */
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 81 56% 38%;
    --chart-1: 81 56% 38%;
    --chart-2: 71 35% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 81 56% 38%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215 21.4% 46.9%;
    --accent: 71 35% 51%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 81 56% 38%;
    --chart-1: 81 56% 38%;
    --chart-2: 71 35% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
